pipeline/parent_pipeline.json
{
	"name": "parent_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute_on_prem",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "on_prem_pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"files": {
							"value": "@pipeline().parameters.files",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute_Api",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute_on_prem",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Api_Data_Ingestion_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute _sql_pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute_Api",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Sql_to_Datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "failure_alert",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Execute _sql_pipeline",
						"dependencyConditions": [
							"Failed",
							"Skipped"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-26.malaysiawest.logic.azure.com:443/workflows/564700e27e584b23b175b65bbda4d85b/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=hnqQ6Incq0qjnvZwbiWnG5xlzqkaVZ5cwxDgyQyMrbc",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"status\": \"@{activity('Execute _sql_pipeline').status}\",\n    \"error\": \"@{activity('Execute _sql_pipeline').output.error[0].message}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"files": {
				"type": "array",
				"defaultValue": [
					{
						"file_name": "DimPassenger.csv"
					},
					{
						"file_name": "DimAirline.csv"
					},
					{
						"file_name": "DimFlight.csv"
					}
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-12-02T20:04:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}